
@{
    ViewBag.Title = "Create a post!";
}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />

</head>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>



@model FitnessFaction.Models.PostViewModel
@using (Html.BeginForm("CreatePost", "Post", FormMethod.Post))
{
    <a href="@Url.Action("HomeFeed", "Home", new {username = ViewData["username"].ToString()})">&#x2190;Back to home</a>
    <div class="container" style="justify-content: center">
        
        <h1 style="text-align:center">Create a post!</h1>

        <!---PostTitle field-->
        <div class="form-outline mb-4">
            @Html.TextBoxFor(T => T.PostTitle, new { @class = "form-control", id = "postTitle" })
            <label class="form-label" for="form2Example2">Post Title</label>
        </div>

        <!---PostTitle field-->
        <div class="form-outline mb-4">
            @Html.TextAreaFor(T => T.PostText, new { @class = "form-control", id = "postText" })
            <label class="form-label" for="form2Example2">Post Text</label>
        </div>
        <label>Post Type</label><br>

        @Html.CheckBoxFor(T => T.dietPost, new { id = "dietCheckbox" })
        <label>Diet Post</label>
        @Html.CheckBoxFor(T => T.fitnessPost, new { id = "fitnessCheckbox" })
         <label>Fitness Post</label><br>


        @Html.TextBoxFor(T => T.Tags, new { @class = "form-control", id = "tagString", style= "display:none"})

        <label class="form-label" for="form2Example2">Tags</label>
        <br>

        <div class="form-outline mb-4" id="fitnessTags" style="display:none">
            
            @{
                int count = 0;
                var fitnessTags = ViewData["tags"] as List<Tags>;
                fitnessTags = fitnessTags.Where(t => t.TagType == "Fit").ToList();
                foreach (var tag in fitnessTags)
                {
                        <input type="checkbox" name="@(tag.TagType)" value="@(tag.TagName)"/>
                        <label>@(tag.TagName)</label>
                    if (count == 5){
                        count = 0;
                            <br />
                    }
                    count++;
                }
            }
           
        </div>

        <div class="form-outline mb-4" id="dietTags" style="display:none">
            @{
                int newCount = 0;
                var dietTags = ViewData["tags"] as List<Tags>;
                dietTags = dietTags.Where(t => t.TagType == "Diet").ToList();
                foreach (var tag in dietTags)
                {
                         <input type="checkbox" name="@(tag.TagType)" value="@(tag.TagName)"/>
                         <label>@(tag.TagName)</label>
                    if (newCount == 5)
                    {
                        newCount = 0;
                            <br />
                    }
                    newCount++;
                }
            }
        </div>

        <!-- Submit button -->
        <input type="submit" class="btn btn-primary btn-block mb-4" value="Submit Post!">

        

    </div>
}

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
        window.onload = function () {
            alert("@ViewBag.Message");
        };

    </script>
}

<!--Simple script to disable a checkbox when a button is clicked, changes tags displayed too-->
<script>

    var changeFitnessCheckbox = document.getElementById("fitnessCheckbox");
    var changeDietCheckbox = document.getElementById("dietCheckbox");

    var dietTags = document.getElementById("fitnessTags");
    var fitnessTags = document.getElementById("dietTags");

    var dietTagListener = document.querySelectorAll('[name = "Diet"]');
    var fitTagListener = document.querySelectorAll('[name = "Fit"]');

    var tagList = document.getElementById("tagString");

    changeFitnessCheckbox.addEventListener('change', function () {
        dietTagListener.forEach(item => {
            item.checked = false
        });
        fitTagListener.forEach(item => {
            item.checked = false
        });
        if (this.checked && changeDietCheckbox.checked) {
            changeDietCheckbox.click();
            dietTags.style = "display:inline;";
            fitnessTags.style = "display:none;";
            tagList.value = "";
           

        }
        else if (this.checked && !changeDietCheckbox.checked)
        {
            dietTags.style = "display:inline;";
            tagList.value = "";
        }
        else
        {
            dietTags.style = "display:none;";
        }
    });

    changeDietCheckbox.addEventListener('change', function () {
        dietTagListener.forEach(item => {
            item.checked = false
        });
        fitTagListener.forEach(item => {
            item.checked = false
        });
        
        if (this.checked && changeFitnessCheckbox.checked) {
            changeFitnessCheckbox.click();
            dietTags.style = "display:none;";
            fitnessTags.style = "display:inline;";
            tagList.value = "";

        }
        else if (this.checked && !changeFitnessCheckbox.checked) {
            fitnessTags.style = "display:inline;";
            tagList.value = "";

        }
        else {
            fitnessTags.style = "display:none;";
        }
    });

    dietTagListener.forEach( d => d.addEventListener('change', function() {

        if (this.checked)
        {
            tagList.value += this.value + ";";
        }
        else
        {
            let newText = tagList.value;
            newText = newText.replace(this.value + ";","");
            tagList.value = newText;
            
        }

    }));
   
    fitTagListener.forEach(d => d.addEventListener('change', function () {

        if (this.checked) {
            tagList.value += this.value + ";";
        }
        else {
            let newText = tagList.value;
            newText = newText.replace(this.value + ";", "");
            tagList.value = newText;

        }

    }));


    


</script>
